<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/png" href="./api/images/favicon.png" />

  <title>
    <%= conf.sitesahipi %> | Best Developer
  </title>

  <meta name="description" content="<%= conf.sdesc %>.">
    <meta name="keywords" content="Put your name, skills and some coding keywords" />
  <link rel="stylesheet" href="./api/index.css" />
</head>

<body>
<div class="header__text-box row">
      <div class="header__text">
        <h1 class="heading-primary">
               <span><%= conf.sitesahipi %></span>
        </h1>
                <p><%= conf.slogan %> </p>
        <a href="<%= conf.dcurl %>" class="btn btn--pink">Discord</a>
      </div>
    </div>

<script src="/api/index.js"></script>
